{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<h4 class="text-center border border-4 border-dark" style="background-color:grey;color:white;">About Us</h4>

<div class="container p-5 mt-5 text-center w-50 border border-3 border-dark " style="background-color:#5DA493;color:white;">
    <h6>XXX Multispeciality Hospital is a private, non-profit Christian minority medical college, hospital and research institute located at XXXXXXX in XXXXX, XXXXX. The establishment is administered by the XXX Multispeciality Hospital Trust, a charitable organisation under the Catholic Archdiocese of XXXXXXXX.</h6>
   <h4 style="color:black;">Facilities</h4>
<h6>Staff strength: 3,850<br>
Total beds: 1750 [4]<br>
Total ICU beds: 300<br>
Total operation theatres: 22 [5]<br>
Total outpatients: 1,350,000 [6]<br>
Total floor space: 1,295,000 ft² (120,250 m2) [7]<h6>
</div>
{% endblock %}
