{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<h4 class="text-center border border-4 border-dark" style="background-color:grey;color:white;">Contact Us</h4>
<div class="container p-5 mt-5 text-center w-50 border border-3 border-dark" style="background-color:#5DA493;color:white;">
   <h4 style="color:black;">Contact Address</h4>
    <h6>XXX Multispeciality Hospital<br>
P.B.No.xxx,<br>
XXXXXXXX - 000 000,<br>
XXXXXX, Xxxxx</h6>

<h6>Email:xxxmultispecialityhospital@xxx.in<br>
General Enquiries:+91 0000 0000000<br>
General Enquiries:+91 0000 0000000<br>
Doctor Appointments:+91 0000 0000000<br>
Fax: +91 0000 0000000<br>
<h6>
</div>J

{% endblock %}
